repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: local
    hooks:
      - id: update-docs
        name: Update KarabinerPyX Cheat Sheets
        entry: bash -c "just docs && git add *.md"
        language: system
        pass_filenames: false
        always_run: true
